<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>

	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- bepicky's additional stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>


<nav class="navbar navbar-default navbar-static-top" id="navbar-signup">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/smallerlogo.png"</a>
        </div>

        <!-- Nav bar on the right side -->
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="search"><a href="/search">Search for Food</a></li>
            <li class="profile"><a href="/profile">Favorites</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">



            <li><a href="/login">Login</a></li>
            
            <li ><a href="/signup">Sign up Free<span class="sr-only">(current)</span></a></li>
          </ul>



        </div><!--/.nav-collapse -->
      </div>
    </nav>

 <div class='container'>
	<h2 class="search-header">Search for Dish and Location</h2>
  </div>
	<div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form class="myForm" method="GET" action="/search">
                    <input type="text" name="food" placeholder="dish: tacos">
                    <input type="text" name="city" placeholder="city: San Francisco">
						<button>Search</button>
                </form>
			</div>
        </div>

    

    <!-- Start search of dish with yelp's API -->

     <% if(food) { %>

	   <h2> <%= food  %></h2>
	      <h1>List of Restaurants </h1>

     <% } %>

	<% results.forEach(function(result) { %>
			
			
			<div> <%= result.name %> </div>
			<div> <%= result.location.address  %></div>
			<div><p>Rating <%= result.rating  %></p></div>
			<div><img src="<%= result.rating_img_url%>"></div>
			<div><img src="<%= result.image_url%>"></div>
			<div> <%=  result.food %> </div>
			

		  <form method="POST" action="/favorites">
		  		<input type="text" style="display: none;"
		  			value="<%= result.name %>"  name="restaurant">

		  		<input type="text" style="display: none;"
		  		   value="<%= food %>" name="dish">
		  		       <button>Add to Favorites</button>
		  </form>	   

<%	})  %>


	

    </body>
</html>